.heading {
    background-color: #b9bb4e;
    /* margin-bottom: ; */
    padding: 5px 0px 5px 15px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    
}

.sidebar{
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    /* top:  */
    left: 0;
    border-right-style: groove;
    display: flex;
    margin-top: 125px;}

.main-grid{
    margin-top: 125px;
    height: 100%;
    margin-left: 350px;
    display: inline-grid;
    grid-row-gap: 40px ;
}

.card{
    /* margin: 15%; */
    border-style: solid;
    /* display: grid; */
    justify-content: center;
    padding: 30px;

}

.card img{
    
}